*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    padding: 0px 70px;
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 2px 0px 5px grey;
}
.row{
    font-size: 2em;
    font-weight: bold;
    letter-spacing: 2px;
}
.row span{
    color: brown;
}
.nav a{
   text-decoration: none;
   color: black;
   padding: 10px 20px;
}
.nav a:last-child{
    background: brown;
    color: beige;
    border-radius: 8px;

}
.cont{
    position: absolute;
    top: 30%;
    left: 5%;
    padding: 15px;
}
.cont p{
    color: #262626;
    letter-spacing: 3px;
    font-weight: bold;
}
.cont h1{
    font-size: 4em;
    line-height: 1.5em;
}
.cont h2{
    font-size: 4em;
    margin-bottom: 0.5em;
}
#order{
    text-decoration: none;
    color: white;
    background-color: brown;
    border-radius: 8px;
    padding: 10px 20px;
}
#dis{
    text-decoration: none;
    color: white;
    background-color: #262626;
    border-radius: 8px;
    padding: 10px 20px;
}
.image{
    margin: 5% 48%;
    /* max-width: 400px; */
}